  .ContentPage {
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 100px 50px;
    overflow-x: hidden;
    position: relative;
  }

  .clouds {
    position: absolute;
    height: 180px;
    margin-top: -96px;
    width: 400vw;
    right: 0;
    background-image: url(../images/clouds.svg);
    background-repeat: repeat-x;
    z-index: 1;
    opacity: 30%;
    animation: clouds 50s linear infinite;
  }

  @keyframes clouds {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }

  .airplane {
    top: 200px;
    right: 6%;
    position: absolute;
    z-index: 1;
    animation: float 4s ease-in-out infinite;
  }

  .airplane img {
    width: 340px;
    opacity: 80%;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .content-main {
    display: flex;
    align-items: start;
    justify-content: left;
    width: 100%;
    z-index: 2;
  }
  
  .content-main p {
    margin: 0;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
    text-align: left;
    max-width: 700px;
  }

  .content-main button {
    margin-bottom: 0;
    margin-top: 10px;
    width: auto;
  }

  .description {
    font-size: 12pt !important;
    font-weight: 400 !important;
    padding-top: 20px;
  }

  .description-title {
    font-size: 14pt !important;
    font-weight: 400 !important;
    padding-top: 20px;
    font-weight: 500 !important;
  }

  .text-content {
    flex: 1;
  }
  
  @media (max-width: 1000px) {
    .airplane img {
      opacity: 10%;
    }
  }

  .hold-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px;
    text-align: left;
    color: white;
    background: linear-gradient(90deg, #00154b, #002ea2);
    padding-bottom: 60px;
  }

  .controller-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 15px;
  }
  
  .controller-table {
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: black;
  }
  
  .controller-table th {
    padding: 10px;
    text-align: left;
  }
  
  .controller-table td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 11pt;
  }
